<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>api_url</key>
				<string>http://wl.myzaker.com/?c=columns</string>
				<key>category</key>
				<string>精选</string>
				<key>icon</key>
				<string>http://zkres.myzaker.com/img_upload/editor/img_upload/20150922/up_1442910832_59775.png</string>
				<key>pk</key>
				<string>columns</string>
			</dict>
			<dict>
				<key>api_url</key>
				<string>http://wl.myzaker.com/?c=activity_list&amp;p=0&amp;size=20&amp;category=1</string>
				<key>category</key>
				<string>演艺</string>
				<key>icon</key>
				<string>http://zkres.myzaker.com/img_upload/editor/img_upload/20150922/up_1442903245_84948.png</string>
				<key>pk</key>
				<string>1</string>
			</dict>
			<dict>
				<key>api_url</key>
				<string>http://wl.myzaker.com/?c=activity_list&amp;p=0&amp;size=20&amp;category=4</string>
				<key>category</key>
				<string>度假</string>
				<key>icon</key>
				<string>http://zkres.myzaker.com/img_upload/editor/img_upload/20150922/up_1442903288_8960.png</string>
				<key>pk</key>
				<string>4</string>
			</dict>
			<dict>
				<key>api_url</key>
				<string>http://wl.myzaker.com/?c=movie_list</string>
				<key>category</key>
				<string>电影</string>
				<key>icon</key>
				<string>http://zkres.myzaker.com/img_upload/editor/img_upload/20150922/up_1442903316_26604.png</string>
				<key>pk</key>
				<string>7</string>
			</dict>
			<dict>
				<key>api_url</key>
				<string>http://wl.myzaker.com/?c=activity_list&amp;p=0&amp;size=20&amp;category=9</string>
				<key>category</key>
				<string>美食</string>
				<key>icon</key>
				<string>http://zkres.myzaker.com/img_upload/editor/img_upload/20150922/up_1442903362_69420.png</string>
				<key>pk</key>
				<string>9</string>
			</dict>
			<dict>
				<key>api_url</key>
				<string>http://wl.myzaker.com/?c=activity_list&amp;p=0&amp;size=20&amp;category=3</string>
				<key>category</key>
				<string>活动</string>
				<key>icon</key>
				<string>http://zkres.myzaker.com/img_upload/editor/img_upload/20150922/up_1442903332_3853.png</string>
				<key>pk</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
	<key>msg</key>
	<string>ok</string>
	<key>stat</key>
	<string>1</string>
</dict>
</plist>
